@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);

body {
	background: #00BCD4;
	overflow-y: scroll;
}

* {
	outline: none;
	text-align: center;
}

h1 {
	font-family: "Roboto";
	color: #FFFFFF;
	font-weight: 100;
	font-size: 65px;
	margin-top: 80px;
	text-align: center;
}

h2 {
	font-size: 30px !important;
	font-family: "Roboto";
	color: #FFFFFF;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
}

p {
	font-size: 20px;
	font-family: "Roboto";
	color: #FFFFFF;
	font-weight: 300;
	font-size: 20px;
	font-style: italic;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 35px;
}

button {
	width: 120px;
	height: 50px;
	text-align: center;
	background: #fff;
	border: 0;
	font-size: 20px;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 20px;
	cursor: pointer;
	border-radius: 2px;
	margin-bottom: 40px;
}

code {
	font-family: "menlo", "monospace";
	font-size: 12px;
	background: #23241F;
	width: 320px;
	color: #fff;
	display: inline-block;
	padding-left: 15px !important;	
	padding-right: 15px !important;
	text-align: left;
	border-radius: 4px;
	margin: 0 auto;
}

.copyright {
	font-style: normal;
	font-size: 15px;
}